<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="jfcwConnectionString" connectionString="Data Source=mssql.jfcverduras.com.br;Initial Catalog=jfcverduras;User ID=jfcverduras;Password=rh##1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
	<customErrors mode="Off"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
           <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
            <add name="PHP-FastCGI7.0" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.0\php-cgi_8.exe" resourceType="File" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
        <defaultDocument enabled="true">
            <files>
                <add value="default.aspx" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.php" />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <urlCompression doDynamicCompression="false" />
  </system.webServer>
</configuration>