<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="jfcwConnectionString" connectionString="Data Source=mssql.jfcverduras.com.br;Initial Catalog=jfcverduras;User ID=jfcverduras;Password=rh##1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-br" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add verb="*" path="*.arshad" type="namespace.classname, assemblyname" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="PHP-FastCGI7.0" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.0\php-cgi_8.exe" resourceType="File" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="default.aspx" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="index.php" />
        <add value="index.asp" />
        <add value="default.asp" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <urlCompression doDynamicCompression="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: B8993046-C7B1-40C6-B08A-A82E0BBEC697-->